.steps-list{
    background-image: url('../../../starter_files/assets/images/bg-sidebar-mobile.svg');
    background-size: cover;
    min-height: 20dvh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 4dvh 0 0 0;
}

.step-item{}
.step-item__number{
    width: 5ch;
    display: flex;
    align-items: center;  
    justify-content: center;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: transparent;
    font: normal normal 800 0.8rem 'UbuntuBold', sans-serif;
    color: var(--White);
    border: 1px solid var(--White);
    transition: background-color .5s ease,
                color .5s ease,
                border .5s ease;
}
.step-item__number_active{
    background-color: var(--LightBlue);
    color: var(--MarineBlue);
    border: inherit;
}
.step-item__step-indicator{
    text-transform: uppercase;
    font: normal normal 400 1.1rem 'UbuntuRegular', sans-serif;
    color: var(--PastelBlue);
    display: none;
}
.step-item__title{
    text-transform: uppercase;
    font: normal normal 700 1.2rem 'UbuntuBold', sans-serif;
    color: var(--White);
    display: none;
}

@media (width >= 1280px) {
    .steps-list{
        grid-area: stepsList;
        background-image: url('../../../starter_files/assets/images/bg-sidebar-desktop.svg');
        background-repeat: no-repeat;
        background-position: 0% 100%;
        border-radius: 15px;
        width: 25vw;
        height: clamp(65dvh, 100%, 80dvh);
        flex-direction: column;
        justify-content: flex-start;
        gap: 3rem;
        padding: 5dvh 0 0 5dvh;
        justify-self: start;
    }
    
    .step-item{
        display: grid;
        grid-template-areas: 
            "number indicator"
            "number title"
        ;
        gap: 1dvh 1dvw;
    }
    .step-item__number{
        grid-area: number;
    }
    .step-item__step-indicator{
        grid-area: indicator;
        display: inherit;
        font-size: .9rem;
    }
    .step-item__title{
        grid-area: title;
        display: inherit;
        font-size: 1rem;
    }
}